@model l4.Models.BookOutOfStorage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookOutOfStorage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class ="form-control" asp-items="ViewBag.BookId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookTakeDate" class="control-label"></label>
                <input asp-for="BookTakeDate" class="form-control" />
                <span asp-validation-for="BookTakeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookReturnDate" class="control-label"></label>
                <input asp-for="BookReturnDate" class="form-control" />
                <span asp-validation-for="BookReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
